@CHARSET "UTF-8";
*{
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
	font-size: 12px;
	color:#F8F8FF;
}

.container {
	position: relative;
	width: 100%;
}

.header {
	position: relative;
	width:100%
}

.faixa-top {
	position: relative;
	width:100%;
	height:50px;
	background-color: #37a1a8;
}

.logo {
	position: absolute;
	right: 0;
	top: 0;
	height: 40px;
	width:70px;
	padding:5px;
}

.faixa-menu {
	right:0;
	top: 50px;
	height: 50px;
	width: 50px;
	background-color: #383535;
	float: right;
	border-radius:5px;
}
.menu-hamburguer {
	right:0;
	width:50px;
	height:50px;
	position: relative;
	display: grid;
	text-align: center;
}

.botao {
	height:45px;
	margin:3px;
	cursor: pointer;
	display: inline-block;
}

.conteudo {
	width:100%;
	background-color: #2bdfg2;
}

.pag{
	height:100%;
	float: right;
	margin-top: 50px;
	width: 90%;
	border-radius:5px;
	background-color: #37a1a8;
	display:block
}
.centro {
	height:100%;
	margin:10px;
	border-radius:5px;
	background-color: #F8F8FF;
	display: inline-block;
	width: calc( 100% - 20px );
}

.menu-lateral {
	position: fixed;
	width: 200px;
	height: calc( 100% - 100px );
	top: 100px;
	right: -220px ;
	z-index:1000;
	transition: all .5s;
	padding: 10px;
	overflow: auto;
	background-color: #383535;
	opacity: .8;
}


.show-menu {
	right:0;
}

.block {
	position: fixed;
	width: 100%;
	height: calc( 100% - 100px);
	top: 50px;
	display:none;
	z-index: 100;
	background-color: #CECECE;
	opacity: 0.0;
	transition: all .5s;
}

.show-block {
	display: block;
	opacity: 0.8;
}

.item-menu {
	position:relative;
	height: 40px;
	cursor: pointer;
	display:block;
	text-align:left;
	border-bottom: 1px solid #CECECE;
	font-family: 'Baloo Tammudu', cursive;
}

.item-menu-expandir {
	position: absolute;
	right: 0;
	top: 5px;
	width: 15px !important;
	height: 15px !important;
}

.item-submenu {
	display:none;
}

.item-menu:hover {
	background-color: #515151
}

.item-menu img {
	height: 25px;
	margin: 7px;
	display: inline-block;
	float: left;
	width: 25px;
}

.item-menu span {
	display: inline-block;
	line-height: 50px;
	font-size: 18px;
	color: #FFF;
	margin-left:5px;
}





.footer {
	color: #FFF;
	height: 30px;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(#333) );
    background-image: -moz-linear-gradient(  top, #37a1a8, #899 );
    border-top: 1px solid #777;
    text-shadow: 1px 1px 1px #000;
}